html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.container {
    width: 800px;
    margin: 0 auto;
}

.content {
    padding: 5px;
}

ul.nav {
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

ul.nav li {
    font-size: 18px;
    margin: 15px 0;
    padding: 5px;
    color: #272727;
    font-weight: bold;
    position: relative;
}

ul.nav li::after {
    transition: all 2s;
}

ul.nav li:hover::after {
    content: "";
    width: 100%;
    border-bottom: 3px solid #272727;
    position: absolute;
    bottom: -5px;
    left: 0;
}
